@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to bottom,
    #c4ebde,
    #fffffe
  );

  background-attachment: fixed;
}

header {
  /* Add styles for your header if needed */
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-head {
  margin-top: 40px;
  margin-left: 160px;
  display: flex;
  gap: 300px; /* Adjust the gap as needed */
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

ul li a {
  font-family: poppins;
  text-decoration: none;
  color: #191919;
  font-weight: 500;
}
ul li a:hover {
  
  color: #079162;
}
h1 {
  font-family: poppins;

}
h2 {
  font-family: poppins;
  text-align: center;
}
label{
  font-family: poppins;
  font-weight:500;
  
}


.login-card {
  background-color: #fffffe;
  margin: 60px 11%; /* Adjust the margin values as needed */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.container-form {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}
.container-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.green-card {
  width: 250px;
  height: 30%;
  background-color: #c4ebde;
  opacity: 22%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
  font-family: poppins;
  background-color: #f0f9f6;
  border: none;
  height: 35px;
  width: 300px;
  border-radius: 3px;
}
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(7, 145, 98, 0.5);
  border: none;
  outline: none;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="radio"]::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ebecec;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}
input[type="radio"]:checked::before {
  background-color: #079162;
}

select {
  font-family: poppins;
  background-color: #f0f9f6;
  border: none;
  width: 300px;
  height: 35px;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  color: #333;
}

select option {
  font-family: poppins;
  background-color: #f0f9f6;
  color: #333;
  font-size: 14px;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(7, 145, 98, 0.5);
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Define a custom style for the checkbox */
input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  /* Border color for the checkbox */
  background-color: #f0f9f6; /* Background color for the unchecked state */
  border-radius: 4px; /* Rounded corners */
  vertical-align: middle;
  margin-right: 5px;
  border: none;
  outline: none;
}

input[type="checkbox"]:checked::before {
  content: "✔"; /* Display a checkmark */
  font-size: 14px; /* Adjust the size of the checkmark */
  color: #079162; /* Color of the checkmark */
  line-height: 16px; /* Center the checkmark vertically */
  text-align: center; /* Center the checkmark horizontally */
  background-color: #f0f9f6; /* Background color for the checked state */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 0 5px rgba(7, 145, 98, 0.5);
}
button {
  margin-left: 20px;
  margin-top: 20px;
  background-color: #079162;
  color: #fffffe;
  border: none;
  border-radius: 5px;
  width: 75px;
  height: 35px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 5px rgba(7, 145, 98, 0.5);
}

.Liste-Inscrits{
  
  background-color: white;
  margin: 60px 11%; /* Adjust the margin values as needed */
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);


}
#inscris{
  border-collapse: collapse;
  background-color: #def0ea;
  width: 100%;
  
  


  
}
.inscris, th,td{

  border: black 1px solid;
} 

.Statistiques{
 
  background-color: white;
  margin: 60px 11%; /* Adjust the margin values as needed */
  height: 50vh;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
   font-family: poppins;
}
.stat-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stats-card{
  margin: 10px;
  background-color: #def0ea;
  width: 15%;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}
.head-card{
  background-color: #079162;
  width: auto;
  height: 25px;
  color: white;
  border-radius: 7px 7px 0px 0px;

}



